%border-warning {
    border-color: $warning;
    box-shadow: 0 0 0.2rem 0.2rem $warning;
}

.active {
    background-color: #281614;
    font-weight: bold;
}
.alert-warning {
    background-color: $warning;
    color: #683b19;
}

.bg-brown {
    background-color: $brown;
}
.bg-grey {
    background-color: $grey;
}
.bg-white {
    background-color: $white;
}

.btn-img {
    max-width: 250px;
}
.btn-warning {
    background-color: $warning;
    border-color: $warning;
    &:hover {
        background-color: $warning-hover;
        border-color: $warning-hover;
    }
}
.not-validate {
    @extend %border-warning;
}
.text-indent {
    text-indent: 15px;
}
