body {
    background-color: $brown;
}

img {
    width: 100%;
}

div[role=alert] {
    ul {
        margin: 0;
        li {
            list-style-type: none;
        }
    }
}

p {
    font-size: 1.05rem;
}
