header#page-header {
    height: 20rem;
    @media screen and (min-width: 758px) {
        height: 25rem;
    }
    #logo-title {
        padding-top: 5.8rem;
        text-align: center;
        @media screen and (min-width: 758px) {
            padding-top: 5rem;
        }
        img {
            width: 20rem;
            @media screen and (min-width: 758px) {
                width: 33rem;
            }
        }
    }
}
