.modal-body form {
    max-width: 400px;
    margin: 0 auto;
}

.modals {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);

    i {
        margin-right: 20px;
    }

    iframe {
        margin-left: 10%;
        width: 80%;
        height: 100%;
        overflow: auto;
        padding: 1%;
    }
}
