#passwordController, #passwordControllerBis {
    display: flex;
    margin: 1rem 0 1rem 0;
    align-items: center;

    span {
        border: 1px solid lightgrey;
        border-radius: 10px;
        height: 15px;
        width: 50px;
        margin-right: 5px;
    }
    p {
        margin: 0;
        padding: 0;
        font-size: small;
        text-align: center;
    }
}
